---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import Projects from '../components/Projects';
import Startups from '../components/Startups';
import Hackathons from '../components/Hackathons';
import Experience from '../components/Experience';
import Contact from '../components/Contact';

// Import data
import profile from '../data/profile.json';
---

<Layout title={`${profile.name} | ${profile.title}`}>
  <Header client:load />
  
  <main>
    <Hero 
      client:load
      name={profile.name}
      title={profile.title}
      avatarUrl={profile.images.avatar}
    />
    
    <Startups client:visible />
    

    <Projects client:visible />

    {/* <Hackathons client:visible /> */}
    
    <Experience client:visible />
    
    <Contact client:visible />
  </main>
</Layout>
